:root{
    --white: #fff;
    --pink-10: #F67ACB;
    --pink-20: #CF62A9;
    --pink-30: #9D457F;
    --gray-100: #f5f6fa;
    --gray-200: #dfe1e8;
    --gray-300: #C0C3CC;
    --gray-400: #abafba;
    --gray-500: #979ba6;
    --gray-600: #787c87;
    --gray-700: #5c5f69;
    --gray-800: #393b42;
    --gray-900: #0a0b0d;
}